{
  "extends": ["./packages/tend-ui-eslint-config/.eslintrc"],
  "root": true,
  "settings": {
    "import/resolver": {
			"typescript": {
				"alwaysTryTypes": true,
				"project": "./tsconfig.json"
			}
    }
  }
}
