:root {
  --rovna-ui-blue35: #f5f7faff;
  --rovna-ui-blue50: #f4f6fbff;
  --rovna-ui-blue100: #e5f2ffff;
  --rovna-ui-blue200: #cce5feff;
  --rovna-ui-blue300: #99cafeff;
  --rovna-ui-blue450: #4da3fdff;
  --rovna-ui-blue500: #3395fcff;
  --rovna-ui-blue600: #007bfbff;
  --rovna-ui-blue700: #0062c9ff;
  --rovna-ui-blue800: #004a97ff;
  --rovna-ui-cyan100: #e6fffbff;
  --rovna-ui-cyan200: #b5f5ecff;
  --rovna-ui-cyan500: #36cfc9ff;
  --rovna-ui-cyan600: #13c2c2ff;
  --rovna-ui-cyan700: #08979cff;
  --rovna-ui-cyan800: #006d75ff;
  --rovna-ui-geekblue200: #d6e4ffff;
  --rovna-ui-geekblue500: #597ef7ff;
  --rovna-ui-geekblue600: #2f54ebff;
  --rovna-ui-geekblue700: #1d39c4ff;
  --rovna-ui-gold100: #fffbe6ff;
  --rovna-ui-gold200: #fff1b8ff;
  --rovna-ui-gold300: #ffe58fff;
  --rovna-ui-gold500: #ffc53dff;
  --rovna-ui-gold600: #faad14ff;
  --rovna-ui-gold700: #d48806ff;
  --rovna-ui-gold800: #ad6800ff;
  --rovna-ui-gray0: #ffffffff;
  --rovna-ui-gray25: #f9fafaff;
  --rovna-ui-gray50: #f4f4f5ff;
  --rovna-ui-gray100: #e8e9ebff;
  --rovna-ui-gray150: #dddee1ff;
  --rovna-ui-gray200: #d2d3d7ff;
  --rovna-ui-gray400: #a5a7afff;
  --rovna-ui-gray500: #8e919aff;
  --rovna-ui-gray650: #6c717cff;
  --rovna-ui-gray900: #343a4aff;
  --rovna-ui-green100: #e0f7eaff;
  --rovna-ui-green200: #c1efd4ff;
  --rovna-ui-green300: #a3e8c0ff;
  --rovna-ui-green500: #4dd083ff;
  --rovna-ui-green600: #51ad77ff;
  --rovna-ui-green700: #3d825aff;
  --rovna-ui-purple100: #f9f0ffff;
  --rovna-ui-purple200: #efdbffff;
  --rovna-ui-purple500: #9254deff;
  --rovna-ui-purple600: #722ed1ff;
  --rovna-ui-purple700: #531dabff;
  --rovna-ui-red50: #fef5f7ff;
  --rovna-ui-red100: #feedf0ff;
  --rovna-ui-red200: #fcdbe1ff;
  --rovna-ui-red300: #f9b7c3ff;
  --rovna-ui-red500: #f36f87ff;
  --rovna-ui-red600: #f04b69ff;
  --rovna-ui-red700: #c03c54ff;
  --rovna-ui-red800: #902d3fff;
  --rovna-ui-volcano100: #fff2e8ff;
  --rovna-ui-volcano200: #ffd8bfff;
  --rovna-ui-volcano500: #ff7a45ff;
  --rovna-ui-volcano600: #fa541cff;
  --rovna-ui-volcano700: #d4380dff;
  --rovna-ui-yellow500: #ffec3dff;
  --rovna-ui-yellow600: #fadb14ff;
  --rovna-ui-yellow700: #d4b106ff;
  --rovna-ui-blue35-transparent: #007bfb0a;
  --rovna-ui-blue50-transparent: #007bfb0d;
  --rovna-ui-blue100-transparent: #007bfb1a;
  --rovna-ui-blue150-transparent: #007bfb26;
  --rovna-ui-blue200-transparent: #007bfb33;
  --rovna-ui-blue300-transparent: #007bfb4d;
  --rovna-ui-blue400-transparent: #007bfb66;
  --rovna-ui-blue600-transparent: #007bfb99;
  --rovna-ui-blue800-transparent: #007bfbcc;
  --rovna-ui-cyan200-transparent: #13c2c233;
  --rovna-ui-geekblue200-transparent: #2f54eb33;
  --rovna-ui-gold50-transparent: #faad140d;
  --rovna-ui-gold100-transparent: #faad141a;
  --rovna-ui-gold150-transparent: #faad1426;
  --rovna-ui-gold200-transparent: #faad1433;
  --rovna-ui-gold300-transparent: #faad144d;
  --rovna-ui-gold400-transparent: #faad1466;
  --rovna-ui-gold600-transparent: #faad1499;
  --rovna-ui-gold800-transparent: #faad14cc;
  --rovna-ui-gray25-transparent: #1d243608;
  --rovna-ui-gray50-transparent: #1d24360d;
  --rovna-ui-gray100-transparent: #1d24361a;
  --rovna-ui-gray150-transparent: #1d243626;
  --rovna-ui-gray200-transparent: #1d243633;
  --rovna-ui-gray250-transparent: #1d243640;
  --rovna-ui-gray300-transparent: #1d24364d;
  --rovna-ui-gray350-transparent: #1d243666;
  --rovna-ui-gray400-transparent: #1d243666;
  --rovna-ui-gray450-transparent: #1d243673;
  --rovna-ui-gray500-transparent: #1d243680;
  --rovna-ui-gray550-transparent: #1d24368c;
  --rovna-ui-gray600-transparent: #1d243699;
  --rovna-ui-gray650-transparent: #1d2436a6;
  --rovna-ui-gray700-transparent: #1d2436b3;
  --rovna-ui-gray750-transparent: #1d2436bf;
  --rovna-ui-gray800-transparent: #1d2436cc;
  --rovna-ui-gray850-transparent: #1d2436d9;
  --rovna-ui-gray900-transparent: #1d2436e6;
  --rovna-ui-gray950-transparent: #1d2436f2;
  --rovna-ui-green50-transparent: #4dd0830d;
  --rovna-ui-green100-transparent: #4dd0831a;
  --rovna-ui-green150-transparent: #4dd08326;
  --rovna-ui-green200-transparent: #4dd08333;
  --rovna-ui-green300-transparent: #4dd0834d;
  --rovna-ui-green400-transparent: #4dd08366;
  --rovna-ui-green600-transparent: #4dd08399;
  --rovna-ui-green800-transparent: #4dd083cc;
  --rovna-ui-purple200-transparent: #722ed133;
  --rovna-ui-red50-transparent: #f04b690d;
  --rovna-ui-red100-transparent: #f04b691a;
  --rovna-ui-red150-transparent: #f04b6926;
  --rovna-ui-red200-transparent: #f04b6933;
  --rovna-ui-red300-transparent: #f04b694d;
  --rovna-ui-red400-transparent: #f04b6966;
  --rovna-ui-red600-transparent: #f04b6999;
  --rovna-ui-red800-transparent: #f04b69cc;
  --rovna-ui-volcano200-transparent: #fa541c33;
  --rovna-ui-white25-transparent: #ffffff08;
  --rovna-ui-white50-transparent: #ffffff0d;
  --rovna-ui-white100-transparent: #ffffff1a;
  --rovna-ui-white150-transparent: #ffffff26;
  --rovna-ui-white200-transparent: #ffffff33;
  --rovna-ui-white250-transparent: #ffffff40;
  --rovna-ui-white300-transparent: #ffffff4d;
  --rovna-ui-white350-transparent: #ffffff66;
  --rovna-ui-white400-transparent: #ffffff66;
  --rovna-ui-white450-transparent: #ffffff73;
  --rovna-ui-white500-transparent: #ffffff80;
  --rovna-ui-white550-transparent: #ffffff8c;
  --rovna-ui-white600-transparent: #ffffff99;
  --rovna-ui-white650-transparent: #ffffffa6;
  --rovna-ui-white700-transparent: #ffffffb3;
  --rovna-ui-white750-transparent: #ffffffbf;
  --rovna-ui-white800-transparent: #ffffffcc;
  --rovna-ui-white850-transparent: #ffffffd9;
  --rovna-ui-white900-transparent: #ffffffe6;
  --rovna-ui-white950-transparent: #fffffff2;
  --rovna-ui-yellow200-transparent: #fadb1433;
}
